#yeah{
	font-size: 125%;
	vertical-align: center;
	text-align: center;
	color: black;                
    background: white;            
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;         
	border-style: solid black;
    border-right: 10px solid #000000;
	border-left: 10px solid #000000;
	border-top: 10px solid #000000;
	border-bottom: 10px solid #000000;
    }